.card {
    width: 100%;
    min-width: 0;
    background: var(--color-white);
    padding: 2rem 1rem;
    box-shadow: 0 1px 3px var(--color-shadow);
    box-sizing: border-box;
    height: 100%;
    overflow-wrap: anywhere;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h2 {
        margin-top: 0;
        color: var(--color-heading);
        font-size: 1.1rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    & :last-child {
        margin-bottom: 0;
    }
}
