.card {
    width: 100%;
    background: var(--color-white);
    padding: 2rem 1.5rem;
    box-shadow: 0 1px 3px var(--color-shadow);
    box-sizing: border-box;
    height: 100%;

    & h2 {
        margin-top: 0;
        color: var(--color-heading);
        font-size: 1.1rem;
    }

    & p {
        margin-bottom: 1rem;
    }

    & :last-child {
        margin-bottom: 0;
    }
}
