nav.app-nav {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    & ul.nav-links {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
    }

    & a {
        &.active {
            text-underline-offset: 3px;
            text-decoration-thickness: 3px;
        }
    }
}

a.btn {
    text-decoration: none;
    background: none;
    font-size: 1rem;
    color: black;
    border: 1px solid;
    outline: 1px solid transparent;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
    transform: translateY(1px);

    &:focus {
        outline: 1px solid;
    }

    &:hover {
        outline: 1px solid;
        transform: translateY(0);
    }

    &:active {
        transform: translateY(2px);
    }
}
